<% if alert || notice %>
  <%= render partial: 'alert_and_notice', locals: { notice: notice, alert: alert } %>
<% end %>

<h1><%= t('.title') %></h1>
<div class="row mt-4">
  <% @users.each do |user| %>
    <div class="col-md-4">
      <%= render partial: 'user_card', locals: { user: user } %>
    </div>
  <% end %>
</div>

<%= paginate @users %>
