<% if alert || notice %>
  <%= render partial: 'alert_and_notice', locals: { notice: notice, alert: alert } %>
<% end %>

<div class="row mt-4">
  <div class="col-sm-4 offset-sm-4">
    <%= render partial: 'user_card', locals: { user: @user } %>
  </div>
</div>
