<header>
  <nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <div class="container d-flex justify-content-between">
      <%= link_to root_path, class: 'navbar-brand' do %>
        <h1>Pro Tips</h1>
      <% end %>
      <div class="collapse navbar-collapse d-flex justify-content-end">
        <% case current_user_role
           when 'anonymous' %><%= render partial: 'anonymous_user_header' %>
        <% when 'registered' %><%= render partial: 'registered_user_header' %>
        <% when 'admin' %><%= render partial: 'admin_user_header' %>
        <% end %>
      </div>
    </div>
  </nav>
</header>
